/* List View - Change view */
.product-list {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: linear-gradient(90deg, white 20%, #f0f0f0 100%);
        border-right: 0;
        //border-image-source: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(36,180,167,1) 90%);
    }

    .product-image {
        position: relative;
        flex: 0 0 200px;
        float: left;
        width: 200px;
        margin: 0 20px 0 0;
        border: 1px solid #f0f0f0;
        overflow: hidden;

        img {
            display: inline-block;
            width: 100%;
            margin: 0 auto;
            vertical-align: middle;
            -ms-transition: all ease-out 0.4s;
            -webkit-transition: all ease-out 0.4s;
            transition: all ease-out 0.4s;
            position: absolute;
            bottom: 50%;
            right: 50%;
            transform: translate(50%, 50%);
        }

        .hover {
            visibility: hidden;
            opacity: 0;
            left: 50%;
            top: 50%;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &:hover {
            .primary {
                opacity: 0;
            }

            .hover:not(.variantImg) {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .product-labels {
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 1;

        .lbl {
            display: block;
            white-space: nowrap;
            color: #fff;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            padding: 0 8px;
            height: 20px;
            line-height: 20px;
            margin-bottom: 5px;
        }

        .on-sale {
            right: 5px;
            background: #f54337;
        }

        .new {
            left: 5px;
            background: #01bad4;
        }

        .hot {
            left: 5px;
            background: #e9a400;
        }
    }

    .product-details {
        text-align: left !important;
        padding: 1em 0;

        .product-short-description {
            font-size: 0.8rem;
            color: #6c757d;
            -webkit-line-clamp: 4;
            height: calc(1em * 1.4 * 4);
            line-height: 1.4;
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 !important;
        }
    }

    .product-name a {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .product-review {
        justify-content: flex-start !important;
        margin: 7px 0 8px;
    }

    .product-review .caption {
        display: block;
    }

    .swatches.d-flex-justify-center {
        -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
    }

    .sort-desc {
        margin: 0 0 10px;
        display: block;
    }

    .button-action .btn {
        color: $color-black;
        background-color: $color-green-lite;
        border-color: $color-green-lite;

        &:hover {
            color: #fff;
            background-color: $color-black;
            border-color: $color-black;
        }
    }

    .button-action .btn-icon {
        color: #fff;
        background-color: $color-black;
        border-color: $color-black;
        width: 35px;
        height: 35px;
        padding: 0;

        &:hover {
            color: $color-black;
            background-color: $color-green-lite;
            border-color: $color-green-lite;

            .tooltip-label {
                bottom: auto;
                top: -28px;
                line-height: 1.5;
                opacity: 1;
                visibility: visible;
            }
        }

        .icon {
            font-size: 13px;
        }
    }

    .button-set, .sold-out {
        display: none !important;
    }

    .saleTime {
        display: block !important;
    }

    .button-action {

        & > div {
            margin-right: 5px;
            margin-top: 8px;
        }

        .btn {
            position: relative;
            padding: 6px 15px;
            text-transform: none;
            //border-radius: 6px;
            margin-bottom: 0;
            /*color:#fff; background-color:#222; border-color:#222;*/

            &.soldOutBtn {
                background-color: #f00;
                border-color: #f00;
                color: #fff;
            }
        }
    }

    .tooltip-label {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: -38px;
        bottom: auto;
        left: 50%;
        background: #000000;
        color: #ffffff;
        border-radius: 3px;
        padding: 2px 6px;
        white-space: nowrap;
        font-size: 10px;
        line-height: 1.5;
        transform: translateX(-50%);
        text-transform: uppercase;
        text-align: center;
        z-index: 2;
        -ms-transition: all 0.15s ease-in-out;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;

        &:before {
            content: "";
            border: 5px solid transparent;
            border-top: 5px solid #000000;
            position: absolute;
            bottom: -9px;
            left: 50%;
            margin-left: -5px;
        }
    }
}
