.badge {
    font-size: 0.8em;
    font-weight: 400;
    min-width: 80px;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    border-radius: 20px;
}

.badge-success {
	color: $color-green;
	background: #edf9f6;
}

.badge-danger {
	color: $color-red;
	background: #fdf0ed;
}

.badge-info {
	color: $color-info;
	background: #eef5fb;
}

.badge-warning {
	color: $color-yellow;
	background: #fff9ef;
}
