.idea/
.phpintel/
*.sublime-project
._.DS_Store

node_modules/
/vendor/
/public/storage/
/Modules/*/Assets/
/Themes/*/assets/
/Themes/*/vendor/
/tags
mix-manifest.json
npm-debug.log
yarn-error.log
*.map
.env
/public/favicon/*
/storage/logs/laravel.log
/storage/debugbar/
